body{
    margin:0;
}
.navigation-component{
    display: flex;
    justify-content: space-between;   
    position:absolute;
    top: 50px;
    bottom: auto;
    left: 0%;
    right:0%;  
    flex-wrap: wrap;  
}
.header{
    margin-left: 100px;
}
.menu{
    margin-right:100px;
}
.home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}
.left {
    position: relative;
    background-image: url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4c900878f534cf0d3f17_Untitled%20design%20(11).png");
    background-size: 100% auto;    
    height:100vh;     
    flex: 0 1 50%;    
}
.parent-left{
    position: relative;
    display: flex;
    height: 100%;   
    background-color: rgba(152, 100, 218, 0.93); 
}
.left-container{
    display:flex;
    justify-content: center;
    align-items: center;   
}
.content-left{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin:20px;
}
 .title1{
    text-align: right;
    text-transform: capitalize; 
    margin-right: 30px;
    line-height: 2;
}
 #left-h1-s1{
    color:#fcfcfd;
    background-color: #363738;
    font-size:25px;
    font-family: Noto Sans Mono, sans-serif;
    padding-left:10px;
    padding-right: 10px;   
 }
 #left-h1-s2{
    color:#fcfcfd;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Noto Sans Mono, sans-serif;
}
#description-left{
    
    direction: rtl;
    font-size: 22;
    color:#fcfcfd;
    line-height: 1.5;
    margin-top: 40;
    margin-bottom: 40;    
    overflow-wrap: break-word;
    padding-right:30px;   
    margin-left: 150px;   
    font-family:'Courier New', Courier, monospace;
}
.translucent-button-1{
    background-color: #363738;
    text-decoration: none;
    color:#fcfcfd;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    margin-right:30px;
    margin-top: 50px;
    padding-top: 20px;
    font-family: "Noto Sans Mono", sans-serif;
    font-weight: bold;
  
}
.right{
    position: relative;
    background-image: url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4d48dc5b31ff0aa4ca67_Untitled%20design%20(12).png");
    background-size: 100% auto;    
    height: 100vh;
    flex: 0 1 50%;    
}
  .parent-right{
    position: relative;
    display: flex;
    height: 100%;
    background-color: rgba(35, 35, 35, .85);    
}
.right-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:20px;
}
.title2{
    text-align:left;
    text-transform: capitalize; 
    margin-left: 30px;
    line-height: 2;
}
#right-h1-s1{
    color: #363738;
    background-color:#fcfcfd;
    font-size:25px;
    font-family: Noto Sans Mono, sans-serif;
    padding-left:10px;
    padding-right: 10px;
}
#right-h1-s2{
    color:#fcfcfd;
    font-size: 28 px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Noto Sans Mono, sans-serif;
}
#description-right{    
    text-align: left;
    font-size: 22;
    color:#fcfcfd;
    line-height: 1.5;
    margin-top: 40;
    margin-bottom: 40;
    max-width: 450px;   
    overflow-wrap: break-word;
    padding-left:30px;
    text-align: justify;
    font-weight: lighter;
    font-family:'Courier New', Courier, monospace;
}   
.translucent-button-2{
    background-color:#fcfcfd;
    text-decoration: none;
    color:#363738;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    margin-left:30px;
    margin-top: 30px;
    padding-top: 20px;
    font-family: "Noto Sans Mono", sans-serif;
    font-weight: bold;
}
.symbol{
    color:#28eea7;
    font-size: 40px;    
    padding-left: 15px;
}
.hello{
    display: flex;
    justify-content: center;
    background-color: rgb(241, 242, 243);
    padding-top:50px;
    padding-bottom: 50px;;
}
.hello-header{
    background-color: rgb(241, 242, 243);
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    width:1000px;
}
.hello-top{
    background-color:rgb(241, 242, 243);
    display: flex;
    align-items: baseline;
    gap: 30px;
    font-family:'Courier New', Courier, monospace;
    justify-content: space-between;
    padding-top: 20px;    
}
.hello-top h1{
    color: #363738;
    font-weight:bold;
    font-size: 30px;   
    padding-left: 10px;
}
.hello-top-left{
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.circle{    
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    box-sizing:border-box;
    height: 24px;
    width: 24px;
}
.dots{
    display: flex;
    gap:10px;
    margin-top: 20px;
    padding-right: 50px;
}
.frame{
    background-color:rgb(241, 242, 243);
    display: flex;
    justify-content: center;    
}
iframe{      
    padding:15px;
    background-color: #28eea7;
    border-radius: 12px;
    height:600px;
    width:1500px;
    margin-left: 60px;
    margin-right: 60px;
}
.milestones{
    display: flex;
    justify-content: center;
    background-color:white;
    padding-top:50px;
    padding-bottom: 50px;;
}
.mile{
    display: flex;
    justify-content: space-evenly;
}
.mile-header{
    background-color:white;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    width:1000px;
}
.mile-top{
    background-color:white;
    display: flex;
    align-items: baseline;
    gap: 30px;
    font-family:'Courier New', Courier, monospace;
    justify-content: space-between;
    padding-top: 20px;    
}
.mile-top h1{
    color: #363738;
    font-weight:bold;
    font-size: 30px;   
    padding-left: 10px;
}
.mile-top-left{
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.mile-content{
    display: grid;
    grid-template-columns: auto auto auto;
     gap: 10px;     
     padding: 50px;
     height: 50vh;
     font-family: 'Courier New', Courier, monospace;
}
.mile-content > div {
    background-color: rgb(241, 242, 243);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border-radius: 20px;
}
.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:3;
 }
.item2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end:1;
}
.item3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start:1;
    grid-row-end:1;
}
.m-num{
    color: #363738;
    font-size: 64px; 
    padding-left: 20px;
    font-family: "Noto Sans Mono", sans-serif;   
}
.m-title{
    color: #363738;
    text-align: center;
    font-size: 16px;
    text-align: center;
    font-weight: bold;    
}
li{
    list-style-type: none;
    font-size:20px
}
.programs{
    display: flex;
    justify-content: center;
    background-color:rgb(255, 198, 53);
    padding-top:50px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
}
.pro-header{
    background-color:rgb(255, 198, 53);
    display: flex;
    justify-content:center;
    flex-direction: column;
    width:1000px;
    
}
.pro-top{
    background-color:rgb(255, 198, 53);
    display: flex;
    align-items: baseline;
    gap: 30px;
    font-family:'Courier New', Courier, monospace;
    justify-content: space-between;
    padding-top: 20px;  
      
}
.pro-top h1{
    color:#fcfcfd;
    font-weight:bold;
    font-size: 30px;  
    background-color: #363738;
    padding-left: 10px;
}
.pro-top-left{
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.pro-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(255, 198, 53);
}
.promenu a{
    text-decoration: none;
    color: #fcfcfd;
    font-size: 24px;
    padding-left:40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-top: 30px;
}
.fcs{
    background-color: #363738;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.prog-content{
    color:rgb(54, 55, 56);
    box-sizing: border-box;
    font-family:"Noto Sans Mono", sans serif;
    font-size: 18px;
    line-height: 15px;
    min-height: 100%;
    display: flex;
    justify-content: center;
}
.prog-parent{
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 0px;
    flex-direction: row;
    line-height: 15px;
    padding:20px;
    margin-left: 40px;
    row-gap: 24px;
    color: #fcfcfd;
    background-color: rgb(54, 55, 56);
    max-width:1000px;
}
.prog-left{
    display: flex;
    flex-direction: column;
    gap:30px;
    padding-left: 30px;
    padding-right: 30px;
}

.prog-title{
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.prog-desc p{
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(220, 222, 225);
}
.yellow{
    color:rgb(255, 198, 53);
}
.prog-foot{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
    justify-content: space-around;
}
.date{
    padding-top:10px;
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(35, 35, 35);
    padding-left: 20px;
    font-size:15px;
}
.info{
    margin-top: 20px;
    text-decoration: none;
    background-color:rgb(35, 35, 35);
    padding:10px;
}
.info a{
    text-decoration: none;
    font-weight: bolder;
    color: rgb(220, 222, 225);
    font-size:15px;
}
.hire{
    display: flex;
    justify-content: center;
    background-color: rgb(54, 55, 56);
    padding-top:50px;
    padding-bottom: 50px;;
}
.hire-header{
    background-color: rgb(54, 55, 56);
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    width:1000px;
}
.hire-top{
    background-color: rgb(54, 55, 56);
    display: flex;
    align-items: baseline;
    gap: 30px;
    font-family:'Courier New', Courier, monospace;
    justify-content: space-between;
    padding-top: 20px;    
}
.hire-top h1{
    color:#fcfcfd;
    font-weight:bold;
    font-size: 30px;   
    padding-left: 10px;
}
.hire-top-left{
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.hire-parent{
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    flex-direction: row;
    line-height: 15px;
    padding:20px;
    margin-left: 40px;
    row-gap: 24px;
    color: #fcfcfd;
    background-color: rgb(35, 35, 35);
    max-width:1000px;
}
.hire-left{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.hire-content{
    color:rgb(54, 55, 56);
    box-sizing: border-box;
    font-family:"Noto Sans Mono", sans serif;
    font-size: 18px;
    line-height: 15px;
    min-height: 100%;
    display: flex;
    justify-content: center;
}
.hire-list li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;   
    gap: 2px;
    color: rgb(220, 222, 225);
    padding-left: 30px;
    padding-right: 30px;
}
.hire-title{
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.hire-desc p{
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(220, 222, 225);
}
.hire-info{       
    background-color:rgb(54, 55, 56);
    text-align: right;
    padding: 10px;
    padding-right:20px;
    margin-bottom: 20px;
}
.hire-info a{
    color:#fcfcfd;
    text-decoration: none;
    font-weight: bolder;
    color: rgb(220, 222, 225);
    font-size:15px;
    font-family: 'Courier New', Courier, monospace;
}
.testimonials{
    display: flex;
    justify-content: center;
    background-color:  rgb(241, 242, 243);
    padding-top:50px;
    padding-bottom: 50px;;
}
.alumna{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.alum-foot{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-content: baseline;
    padding: 0;
}
.alum-profile img{
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    box-sizing:border-box;
    
    
}
.alumna-desc{
    display: flex;
    flex-direction: column;
    gap:3px;
    font-family: 'Courier New', Courier, monospace;
}
.alumna-desc h5{
    margin:0;
    font-weight: 900;
}
.faqs{    
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-wrap: wrap;
}
.fq{
    background-color: rgb(35, 35, 35);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;    
    padding:20px;
    margin-left: 40px;    
    color: #fcfcfd;
    font-family: 'Courier New', Courier, monospace;
    max-width:1000px;
    font-weight: 900;
}
.view{
    background-color: rgb(35, 35, 35);   
    text-align: right;   
    padding:10px;
    margin-left: 40px;    
    color: #fcfcfd;
    font-family: 'Courier New', Courier, monospace;
    max-width:1300px;
    font-weight: 900;
}
.contact{
    display: flex;
    justify-content: center;
    background-color: rgb(40, 238, 167);
    padding-top:50px;
    padding-bottom: 50px;
    flex-direction: column;
    gap:75px;
    align-items: center;
}
.con-header{
    background-color:rgb(40, 238, 167);
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    width:1000px;
}
.con-top{
    background-color:rgb(40, 238, 167);
    display: flex;
    align-items: baseline;
    gap: 30px;
    font-family:'Courier New', Courier, monospace;
    justify-content: space-between;
    padding-top: 20px;    
}
.con-top h1{
    color:#fcfcfd;
    font-weight:bold;
    font-size: 30px;  
    background-color: #363738;
    padding-left: 10px;

}
.con-top-left{
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.con-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.direction{
    background-color: rgb(35, 35, 35);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;    
    padding:30px;
    margin-left: 40px;    
    color: #fcfcfd;
    font-family: 'Courier New', Courier, monospace;   
    font-weight: 900;
    height:70vh;   
}
.direction h5 {
    color:rgb(220, 222, 225);
}
.direction p {
    color:rgb(220, 222, 225);
    margin: 0;
}
.con-form{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;   
    background-color:  rgb(35, 35, 35);
    height: 100%;
    display: flex;
     width: auto;
    margin-left:100px;
    height: 520px;
    gap:30px;
    padding-left: 30px;
    color:rgb(220, 222, 225);
}
.f-container{
    display: flex;
    flex-direction: column;
}
.fcontent{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: flex-start;
    flex: 1;
    height: 100%;
}
#cform{
    display: flex;
    flex:1;
    flex-direction: column;
    align-self: stretch;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
.frow{
    display: flex;
    flex-direction: row;
    gap:20px;
    padding-right: 30px;
}
.name{
    flex:1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding-top:10px;
}
.ftitle1{
    padding-top:25px;
    font-family: 'Courier New', Courier, monospace;
}
.ftitle2{
    padding-top:2px;
    font-family: 'Courier New', Courier, monospace;
    color:#28eea7
}
.label{
    font-size: 12px;
    color: #fcfcfd;
    margin-bottom: 10px;
    font-weight: bold;
}
.text-input{
    height:40px;
    padding-left: 15px;
    padding-right: 15px;

}