body{
    margin:0;
}
.navigation-component{
    display: flex;
    justify-content: space-between;   
    position:absolute;
    top: 70px;
    bottom: auto;
    left: 0%;
    right:0%;  
    flex-wrap: wrap;  
}
.header{
    margin-left: 100px;
}
.menu{
    margin-right:100px;
}
.home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}
.left {
    position: relative;
    background-image: url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4c900878f534cf0d3f17_Untitled%20design%20(11).png");
    background-size: 100% auto;    
    height:100vh;     
    flex: 0 1 50%;    
}
.parent-left{
    position: relative;
    display: flex;
    height: 100%;   
    background-color: rgba(152, 100, 218, 0.93); 
}
.left-container{
    display:flex;
    justify-content: center;
    align-items: center;   
}
.content-left{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin:20px;
}
 .title1{
    text-align: right;
    text-transform: capitalize; 
    margin-right: 30px;
    line-height: 2;
}
 #left-h1-s1{
    color:#fcfcfd;
    background-color: #363738;
    font-size:25px;
    font-family: Noto Sans Mono, sans-serif;
    padding-left:10px;
    padding-right: 10px;   
 }
 #left-h1-s2{
    color:#fcfcfd;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Noto Sans Mono, sans-serif;
}
#description-left{
    
    direction: rtl;
    font-size: 16;
    color:#fcfcfd;
    line-height: 1.5;
    margin-top: 40;
    margin-bottom: 40;    
    overflow-wrap: break-word;
    padding-right:30px;   
    margin-left: 150px;   
    font-family:'Courier New', Courier, monospace;
}
.translucent-button-1{
    background-color: #363738;
    text-decoration: none;
    color:#fcfcfd;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    margin-right:30px;
    margin-top: 30px;
    padding-top: 20px;
    font-family: "Noto Sans Mono", sans-serif;
    font-weight: bold;
}
.right{
    position: relative;
    background-image: url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4d48dc5b31ff0aa4ca67_Untitled%20design%20(12).png");
    background-size: 100% auto;    
    height: 100vh;
    flex: 0 1 50%;    
}
  .parent-right{
    position: relative;
    display: flex;
    height: 100%;
    background-color: rgba(35, 35, 35, .85);    
}
.right-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:20px;
}
.title2{
    text-align:left;
    text-transform: capitalize; 
    margin-left: 30px;
    line-height: 2;
}
#right-h1-s1{
    color: #363738;
    background-color:#fcfcfd;
    font-size:25px;
    font-family: Noto Sans Mono, sans-serif;
    padding-left:10px;
    padding-right: 10px;
}
#right-h1-s2{
    color:#fcfcfd;
    font-size: 28 px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Noto Sans Mono, sans-serif;
}
#description-right{    
    text-align: left;
    font-size: 22;
    color:#fcfcfd;
    line-height: 1.5;
    margin-top: 40;
    margin-bottom: 40;
    max-width: 450px;   
    overflow-wrap: break-word;
    padding-left:30px;
    text-align: justify;
    font-weight: lighter;
    font-family:'Courier New', Courier, monospace;
}   
.translucent-button-2{
    background-color:#fcfcfd;
    text-decoration: none;
    color:#363738;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    margin-left:30px;
    margin-top: 30px;
    padding-top: 20px;
    font-family: "Noto Sans Mono", sans-serif;
    font-weight: bold;
}
.symbol{
    color:#28eea7;
    font-size: 40px;    
    padding-left: 15px;
}
.hello{
    display: flex;
    justify-content: center;
    background-color: rgb(241, 242, 243);
    padding-top:50px;
    padding-bottom: 50px;;
}
.hello-header{
    background-color: rgb(241, 242, 243);
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    width:1000px;
}
.hello-top{
    background-color:rgb(241, 242, 243);
    display: flex;
    align-items: baseline;
    gap: 30px;
    font-family:'Courier New', Courier, monospace;
    justify-content: space-between;
    padding-top: 20px;    
}
.hello-top h1{
    color: #363738;
    font-weight: 900;
    font-size: 25px;   
}
.hello-top-left{
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.circle{    
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    box-sizing:border-box;
    height: 24px;
    width: 24px;
}
.dots{
    display: flex;
    gap:10px;
    margin-top: 20px;
    padding-right: 50px;
}
.frame{
    background-color:rgb(241, 242, 243);
    display: flex;
    justify-content: center;    
}

iframe{      
    padding:15px;
    background-color: #28eea7;
    border-radius: 12px;
    height:600px;
    width:1500px;
    margin-left: 60px;
    margin-right: 60px;}